* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#titulo {

    font-family: sans-serif;
    color: #000000;
    text-align: center;
    margin-top: 35px;

}

#subtitulo {

    font-family: sans-serif;
    color: #000000;


}

#check {
    display: inline-block;
}

fieldset {
    border: 0;
}

body {
    background: linear-gradient(65.15deg, #008000 50%, #2e8b57 90%);
    font-family: sans-serif;
    font-size: 1.5em;
    color: #000000;
    margin-left: 5%;
    margin-top: 2%;
    justify-content: center;
}

input,
select,
textarea,
button {

    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    border-radius: 7px;


}

.grupo:before,
.grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #000000;
    display: block;
}